body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}
button{

background-color: steelblue;
font-size: large;
height: 55px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {

  border: groove;
  float: left;
  font-size: 65px;
  /* line-height: 34px; */
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
background: url('https://www.solofondos.com/wp-content/uploads/2015/11/fondo.png');
}

.game-info {
  margin-left: 20px;
  font-size: x-large;
  color: chartreuse;

}
.game-board{
  padding: 100px;
}

.square-bold {
  color: rgb(253, 10, 10);
  background-color: black;
}
h1{
background-color: burlywood; 
/* background: url('https://www.solofondos.com/wp-content/uploads/2015/11/fondito-768x596.jpg'); */
text-align: center;
  font-size: -webkit-xxx-large;
  color: maroon;
  margin-top: 0px;
margin-bottom: 0px;
font-family: -webkit-body;
}
h2{
  margin: 0px;
  background-color: antiquewhite;
  FONT-SIZE: x-large;
  font-style: italic;
  font-family: cursive;

}
p{
  text-align: center;
  background: url('https://www.solofondos.com/wp-content/uploads/2015/11/fondito-768x596.jpg');
  background-color: rgb(49, 30, 104);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
  font-family: -webkit-body;
  padding: 20px;
  margin: 0px;
}
.imagen{
display: -webkit-box;
background: url('https://image.freepik.com/vector-gratis/fondo-industrial-carbono-negro_79145-253.jpg');
}
.imagen1{
  margin-left: auto;
}
.link{
  font-size: -webkit-xxx-large;
    width: -28px;
    border-bottom-width: 0px;
    margin-bottom: 9px;
    padding-bottom: 12px;
    padding-left: 230px;
    padding-top: 74px;
    padding-right: 200px;
    color: red;
}

